.App .settings-pane {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
}

.App .cards-pane {
  margin: 1rem;
  text-align: center;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.App .answer-pane {
  margin-top: 5rem;
  text-align: center;
}