html,
body {
  height: 100%;
}

#root {
  margin: 0;
  height: 100%;
  background-color: bisque;
}

.App .confetti {
  display: flex;
  justify-content: center;
}

.App .settings-pane {
  padding: 3rem;
  text-align: center;
}

.App .cards-pane {
  margin: 1rem;
  text-align: center;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.App .control-pane {
  padding-top: 3rem;
  text-align: center;
}