html,
body {
  height: 100%;
}

button {
  font-size: 1rem;
  margin: 0 0.2rem;
}

#root {
  margin: 0;
  height: 100%;
  background-color: bisque;
  overflow-y: scroll;
}

.App .confetti {
  display: flex;
  justify-content: center;
}

.App .settings-pane {
  margin-top: 2rem;
  text-align: center;
}

.App .cards-pane {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.App .control-pane {
  margin-top: 1rem;
  text-align: center;
}