.flashcard {
  display: block;
  width: 14rem;
  height: 40vh;
  perspective: 1000px;
  cursor: pointer;
}

.flashcard .flashcard-inner {
  position: relative;
  width: inherit;
  height: inherit;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flashcard .flashcard-inner.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flashcard .flashcard-inner .flashcard-front,
.flashcard .flashcard-inner .flashcard-back {
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard .flashcard-inner .flashcard-front {
  background-color: white;
  color: #333;
  font-size: 5rem;
  font-family: "Kaiti TC";
}

.flashcard .flashcard-inner .flashcard-back {
  background-color: gray;
  color: white;
  transform: rotateY(180deg);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.flashcard .flashcard-inner .flashcard-back .id-tag {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
}

.flashcard .flashcard-inner .control {
  position: absolute;
  top: 10px;
  right: 10px;
}